.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border: 1px solid rgba(231, 229, 232, 0.1);
  background-color: rgba(231, 229, 232, 0.32);
  backdrop-filter: blur(37.2px);
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}

.header__navbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

.header__navbar--list {
  display: flex;
  align-items: center;
  gap: 24px;

  font-size: 12px;
  font-weight: 400;
  color: #080808;
  text-transform: uppercase;
}

.header__actions--list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__burger--btn {
  display: none;
}

@media (max-width: 1200px) {
  .header__navbar {
    display: none;
  }

  .header__actions {
    display: none;
  }

  .header__content {
    padding: 53px 20px 19px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__burger--btn {
    background: transparent;
    border: none;
    margin-top: 5px;
  }

  .header__burger {
    display: block;
    background: transparent;
  }
}
