footer {
  background-color: #080808;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 215px;
}

.footer__lang--btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  font-family: inherit;
  color: #e7e5e8;
  font-size: 12px;
  font-weight: 400;

  margin-left: 13px;
}

.footer__lang--circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e7e5e8;
}

.footer__lang--text {
  text-transform: uppercase;
}

.footer__lang--corner {
  display: block;
}

.footer__navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.footer__navbar--list {
  display: flex;
  align-items: center;
  gap: 24px;

  color: #ffffff80;
  font-size: 12px;
  font-weight: 400;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: end;

  color: #ffffff80;
  font-size: 12px;
  font-weight: 400;
}

.footer__content--top {
  padding: 15px 16px 0 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content--adress {
  display: flex;
  flex-direction: column;
  font-size: 18.56px;
  font-weight: 400;
  color: white;
  font-style: normal;

  align-items: center;
}

.footer__email {
  text-decoration: underline;
}

.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.footer__social--image-wraper {
  height: 32.5px;
  width: 32.5px;
}

.footer__content--centr {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.footer__big-logo {
  display: block;
  width: 100%;
  height: auto;
}

.footer__content--bottom {
  width: 100%;
  padding: 0;
  margin-top: 60px;
  line-height: 0;
}
