footer {
  background-color: #080808;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 215px;
}

.footer__lang--btn {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  font-family: inherit;
  color: #e7e5e8;
  font-size: 12px;
  font-weight: 400;

  padding-left: 13px;
}

.footer__lang--circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e7e5e8;
}

.footer__lang--text {
  text-transform: uppercase;
}

.footer__lang--corner {
  display: block;
}

.footer__navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.footer__navbar--list {
  display: flex;
  align-items: center;
  gap: 24px;

  color: #ffffff80;
  font-size: 12px;
  font-weight: 400;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-transform: uppercase;

  color: #ffffff80;
  font-size: 12px;
  font-weight: 400;
}

.footer__content--top {
  margin: 15px 16px 0 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content--adress {
  display: flex;
  flex-direction: column;
  font-size: 18.56px;
  font-weight: 400;
  color: white;
  font-style: normal;
  align-items: center;
  line-height: 1.5;
}

.footer__email {
  text-decoration: underline;
}

.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.footer__social--image-wraper {
  height: 32.5px;
  width: 32.5px;
}

.footer__content--centr {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.footer__big-logo {
  display: block;
  width: 100%;
  height: auto;
}

.footer__content--bottom {
  width: 100%;
  padding: 0;
  line-height: 0;
}

.tablet_element {
  display: none;
}

/*-----------TABLET-----------*/

@media (max-width: 1200px) {
  .footer__content--top {
    flex-direction: column;
    margin: 0;
  }

  .footer__navbar {
    position: static;
    margin-bottom: 40px;
    transform: none;
  }

  .footer__navbar--list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    justify-content: space-around;
  }

  .footer__langbar {
    margin-bottom: 106px;
  }

  .footer__copyright {
    align-items: center;
  }

  .footer__content {
    gap: 172px;
  }

  .footer__content--centr {
    gap: 62px;
  }

  .tablet_element {
    display: block;
  }
}

/*-----------MOBILE-----------*/
@media (max-width: 756px) {
  .footer__langbar {
    margin-bottom: 120px;
  }
  .footer__lang--btn {
    font-size: 14px;
  }

  .footer__navbar--list {
    gap: 20px;
  }

  .footer__navbar {
    margin-bottom: 32px;
  }

  .contact-phone {
    display: none;
  }
  .footer__content {
    margin-bottom: 20px;
    gap: 96px;
  }
  .footer__content--bottom {
    display: none;
  }

  .footer__content--centr {
    gap: 30px;
  }

  .footer__content--adress {
    font-size: 15px;
  }

  .footer__copyright {
    font-size: 10px;
  }

  .footer__navbar--list {
    font-size: 10px;
  }
}
