/*-----------SUBSCRIBE-----------*/

.subscribe {
  margin-left: 457px;
  margin-right: 457px;
  margin-top: 0;
  margin-bottom: 120px;

  text-transform: uppercase;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
}

.subscribe__title {
  font-size: 20px;
  margin-bottom: 64px;
}

.subscribe__input {
  width: 100%;

  margin-bottom: 40px;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 19px;

  color: #d0cdc9;
  font-size: 14px;
  background: transparent;
  border: 1px solid #e7e5e8;
}

.subscribe__policy {
  color: #d0cdc9;
  font-size: 10px;
  text-align: center;
  padding: 0 90px;
  margin-bottom: 40px;
}

.subscribe__policy--link {
  text-decoration: underline;
}

.subscribe__policy--btn {
  padding: 18px 0;

  width: 100%;
  background-color: #e7e5e8;

  color: #080808;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: #c4c2c0;
  }
}

/*-----------SUBSCRIBE-TABLET----------*/

@media (max-width: 1200px) {
  .subscribe {
    margin: 0 234px;
    margin-bottom: 120px;
  }
}

/*-----------SUBSCRIBE-PHONE----------*/

@media (max-width: 756px) {
  .subscribe {
    margin: 0 20px;
    margin-bottom: 40px;
  }
}
