.about-us {
  position: relative;
  background-image: url("/images/about_hero.png");
  background-size: cover;
  background-position: center;
  height: 736px;
  overflow: hidden;
  margin-bottom: 120px;
}

.about-us__top {
  margin-top: 94px;
  background-color: rgba(230, 228, 231, 0.8);
  backdrop-filter: blur(4px);
  border: none;
}

.about-us__top--title {
  font-size: 80px;
  padding-top: 66px;
  text-align: center;
}
.about-us__top p {
  text-align: left;
}
.about-us__top--text {
  font-size: 11px;
  margin-top: 25px;
  margin-left: 511px;
  margin-right: 511px;
  padding-bottom: 45px;
  text-align: center;
  text-transform: uppercase;
}

.history {
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 104px;
}

.ideology {
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: #ffffff 1px solid;
}

.history__content{
  display: flex;
  gap: 103px;
}

.ideology__content {
  display: flex;
  gap: 103px;
  margin-bottom: 104px;
}

.history__title,
.ideology__title {
  border-bottom: #ffffff 1px solid;
  font-size: 16px;
}
.history__text,
.ideology__text {
  font-size: 11px;
  line-height: 1.6;
}

.history__content--left,
.history__content--right {
  flex: 1;
}

.history__content--right,
.ideology__content--right {
  margin-top: 17px;
}

.history__list,
.ideology__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-us__center-image {
  width: 100%;
  height: 374px;
  margin-bottom: 104px;
}
.about-us__center-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ideology__content--left,
.ideology__content--right {
  flex: 1;
}



.quote {
  color: #ffffff;
}

.quote__content {
  margin: 133px 204px 120px 194px;
  position: relative;
  text-align: center;
}

.quote__content--mark {
  font-size: 48px;
  line-height: 160%;
}
.quote__text {
  font-size: 24px;
  line-height: 1.6;
  padding: 0 20px;
  color: #fff;
}
.quote__text--name {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 180%;
}
.quote__content--sign {
  margin-top: 56px;
  font-size: 16px;
  text-transform: uppercase;
}

.quote__content::before,
.quote__content::after {
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  line-height: 1;
}

.quote__content::before {
  content: "“";
  top: 0;
  left: -20px;
}

.quote__content::after {
  content: "”";
  bottom: 140px;
  right: -20px;
}

@media (max-width: 1200px) {
  .about-us {
    height: 632px;
  }

  .about-us__top {
    margin-top: 104px;
  }

  .about-us__top--text {
    font-size: 12px;
    margin-top: 24px;
    margin-left: 132px;
    margin-right: 132px;
    padding-bottom: 130px;
  }
  .history,
  .ideology {
    margin-right: 0;
    margin-left: 0;
  }

  .history__content,
  .ideology__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 64px;
  }

  .history__list,
  .ideology__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-right: 20px;
    margin-left: 97px;
  }

  .history__title,
  .ideology__title {
    border-bottom: #ffffff 1px solid;
    font-size: 16px;
    margin-left: 47px;
  }

  .quote__content {
    margin: 104px 27px 104px 27px;
    position: relative;
    text-align: center;
  }
  .quote__text {
    padding: auto;
  }

  .quote__content::before {
    top: 0;
    left: 0px;
  }

  .quote__content::after {
    bottom: 100px;
    right: 0px;
  }
}
