/*-------------BANER-------------*/

.hero {
  margin-bottom: 56px;
}
.category__hero--content {
  background-image: url(/images/category-1-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 560px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.category__hero--title {
  margin-top: 48px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/*-------------CATALOG-------------*/

.catalog__title {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 24px;
}

.catalog__filters {
  display: flex;
  justify-content: end;
  padding-right: 20px;

  margin-bottom: 24px;
}

.catalog__filters--text{
    color: #ffffff;
    font-size: 12px;
}

.catalog__filters--btn {
  display: flex;
  gap: 8px;
  align-items: center;
  background: none;
  border: none;
}


.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 120px; /* Відступ знизу всього каталогу */
}