:root {
  --background: #080808;
  --font-main: var(---font-steppe)
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-steppe), sans-serif;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit; 
}

a {
  color: inherit;
  text-decoration: none;
}