/*-----------HERO-----------*/

.hero {
  margin-bottom: 80px;
}

.hero__banner {
  position: relative;
}

.hero__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero__button-wrapper {
  position: absolute;
  left: 50%;
  bottom: 74px;
  transform: translate(-50%);

  border: 1px solid #e7e5e8;
  padding: 8px;

  background-image: url(/images/hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero__button {
  display: block;

  background-color: #e7e5e8;
  border: 1px solid #080808;
  padding: 16px 108px;

  font-family: inherit;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;

  white-space: nowrap;
}

/*-----------HERO-TABLET----------*/
@media (max-width: 1200px) {
  .hero__button-wrapper {
    bottom: 120px;
    background: transparent;
    padding: 7px;
  }

  .hero__button {
    display: block;
    border: 1px solid #080808;
  }
}

/*-----------HERO-PHONE----------*/

@media (max-width: 756px) {
  .hero {
    margin-bottom: 40px;
  }
  .hero__image {
    height: 680px;
    object-fit: cover;
    object-position: 25%;
  }

  .hero__button-wrapper {
    bottom: 64px;
  }

  .hero__button {
    font-size: 16px;
    padding: 17px 106px;
  }
}

/*-----------COLLECTIONS-----------*/

.collections {
  margin-bottom: 80px;
  width: 100%;
}

.collections__grid {
  padding: 0 41px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 272px 272px 272px;

  grid-template-areas:
    "item1 item2 item3"
    "item1 item5 item3"
    "item4 item5 item6";

  gap: 15px;
}

.collections__item:nth-child(1) {
  grid-area: item1;
}
.collections__item:nth-child(2) {
  grid-area: item2;
}
.collections__item:nth-child(3) {
  grid-area: item3;
}
.collections__item:nth-child(4) {
  grid-area: item4;
}
.collections__item:nth-child(5) {
  grid-area: item5;
}
.collections__item:nth-child(6) {
  grid-area: item6;
}

.collections__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.collections__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.collections__link h3,
.collections__link p {
  position: absolute;
  left: 23px;
  z-index: 2;
  color: #fff;
}

.collections__link h3 {
  bottom: 54px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.collections__link p {
  bottom: 24px;
  font-weight: 400;
  font-size: 14px;
}

.collections__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(8, 8, 8, 0) 0%, #080808 100%);
  pointer-events: none;
}

.tablet-break {
  display: none;
}

/*-----------COLLECTIONS-TABLET----------*/

@media (max-width: 1200px) {
  .collections {
    margin-bottom: 64px;
  }
  .collections__grid {
    padding: 0 16px;
    grid-template-rows: 183px 183px 183px;
    gap: 8px;
  }

  .collections__link h3,
  .collections__link p {
    left: 15px;
  }

  .collections__link h3 {
    bottom: 56px;
    font-size: 14px;
  }
  .collections__link p {
    bottom: 16px;
    font-size: 12px;
  }

  .tablet-break {
    display: block;
  }
}

/*-----------COLLECTIONS-PHONE----------*/

@media (max-width: 756px) {
  .collections {
    margin-bottom: 40px;
  }
  .collections__grid {
    padding: 0;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 192px 192px 192px;

    grid-template-areas:
      "item1 item4"
      "item2 item5"
      "item3 item6";

    gap: 8px;
  }

  .collections__link::after {
    background: linear-gradient(to bottom, rgba(8, 8, 8, 0) 60%, #080808 100%);
  }

  .collections__link h3,
  .collections__link p {
    left: 20px;
  }

  .collections__link h3 {
    bottom: 52px;
    font-size: 13px;
  }
  .collections__link p {
    bottom: 24px;
    font-size: 8px;
  }
}

/*-----------SALE-----------*/

.sale {
  margin-bottom: 161px;
}

.sale__content {
  position: relative;
}

.sale__content--image {
  display: block;
  width: 100%;
  height: auto;
}

.sale__button--wrapper {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;

  border: 1px solid #080808;
  padding: 8px;
}

.sale__content--button {
  display: block;

  background-color: #080808;
  border: none;
  padding: 16px 99px;

  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  white-space: nowrap;
}

/*-----------SALE-TABLET----------*/

@media (max-width: 1200px) {
  .sale {
    margin-bottom: 80px;
  }

  .sale__content--image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: 0 30%;
  }

  .sale__button--wrapper {
    bottom: 120px;
    transform: translate(-50%);
    padding: 7px;
  }

  .sale__content--button {
    padding: 17px 100px;
  }
}

/*-----------SALE-PHONE----------*/

@media (max-width: 756px) {
  .sale {
    margin-bottom: 71px;
  }
  .sale__content {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .sale__content--image {
    width: 100%;
    max-height: 476px;
    object-fit: cover;
    transform: scale(1.65) translateX(-5%);
    transform-origin: bottom;
  }
  .sale__button--wrapper {
    bottom: 80px;
    transform: translate(-50%);
  }
  .sale__content--button {
    padding: 17px 101px;
    font-size: 16px;
  }
}

/*-----------BESTSELLERS-----------*/

.bestsellers {
  margin-bottom: 120px;
}

.bestsellers__title {
  text-align: center;
  margin-bottom: 16px;

  color: #fff;
  font-size: 16px;
}

.bestsellers__roundabout--wrapper button {
  background: none;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
}

.bestsellers__roundabout--wrapper {
  display: flex;
  justify-content: space-between;
  gap: 58px;
}

.bestsellers__roundabout {
  display: flex;
  gap: 32px;
  margin-bottom: 70px;
}

.bestsellers__roundabout--item {
  text-align: center;
  padding: 33px 16px 8px 16px;
}

.roundabout__image--wrapper {
  margin-bottom: 24px;
}

.roundabout__item--title {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 9px;
}

.roundabout__item--description {
  color: #5a5a5a;
  font-size: 14px;
  margin-bottom: 40px;
}

.roundabout__item--price {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.bestsellers__roundabout--slider {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
}

/*-----------BESTSELLERS-TABLET----------*/

@media (max-width: 1200px) {
  .el__dsctp-only,
  .bestsellers__title {
    display: none;
  }
  .bestsellers__roundabout {
    gap: 15px;
  }
  .roundabout__image--wrapper {
    max-width: 288px;
    max-height: 336px;
  }
  .roundabout__item--title {
    margin-bottom: 8px;
  }
  .bestsellers__roundabout--wrapper {
    gap: 0;
  }
  .bestsellers__roundabout--wrapper button {
    padding-left: 28px;
    padding-right: 28px;
    min-width: 90px;
  }
}

/*-----------BESTSELLERS-PHONE----------*/

@media (max-width: 756px) {
  .el__dsctp-tblt-only,
  .el__dsctp-only {
    display: none;
  }
  .roundabout__image--wrapper {
    max-width: 209px;
    max-height: 244px;
  }
  .bestsellers__title {
    display: block;
    font-size: 13px;
    margin-bottom: 16px;
  }
  .bestsellers__roundabout--item {
    padding: 24px 12px 6px 12px;
  }
    .roundabout__item--title {
    margin-bottom: 6px;
  }

  .roundabout__item--description {
  font-size: 13px;
  margin-bottom: 29px;
}

.bestsellers__roundabout{
  margin-bottom: 28px;
}

}

/*-----------SUBSCRIBE-----------*/

.subscribe {
  margin: 0 457px;
  margin-bottom: 120px;

  text-transform: uppercase;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
}

.subscribe__title {
  font-size: 20px;
  margin-bottom: 64px;
}

.subscribe__input {
  width: 100%;

  margin-bottom: 40px;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 19px;

  color: #d0cdc9;
  font-size: 14px;
  background: transparent;
  border: 1px solid #e7e5e8;
}

.subscribe__policy {
  color: #d0cdc9;
  font-size: 10px;
  text-align: center;
  padding: 0 90px;
  margin-bottom: 40px;
}

.subscribe__policy--link {
  text-decoration: underline;
}

.subscribe__policy--btn {
  padding: 18px 0;

  width: 100%;
  background-color: #e7e5e8;

  color: #080808;
  font-size: 20px;
}

/*-----------SUBSCRIBE-TABLET----------*/

@media (max-width: 1200px) {
  .subscribe {
    margin: 0 234px;
    margin-bottom: 120px;
  }
}

/*-----------SUBSCRIBE-PHONE----------*/

@media (max-width: 756px) {
  .subscribe {
    margin: 0 20px;
    margin-bottom: 40px;
  }
}
