.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border: 1px solid rgba(231, 229, 232, 0.1);
  background-color: rgba(231, 229, 232, 0.32);
  backdrop-filter: blur(37.2px);
}

.header__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}

.header__navbar--list {
  display: flex;
  align-items: center;
  gap: 24px;

  font-size: 12px;
  font-weight: 400;
  color: #080808;
  text-transform: uppercase;
  justify-content: center;
}

.header__actions--list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}

.header__burger--btn {
  display: none;
}

/*-----------TABLET-----------*/

@media (max-width: 1200px) {
  .header__navbar {
    display: none;
  }

  .header__actions {
    display: none;
  }

  .header__content {
    padding: 53px 20px 19px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__burger--btn {
    display: block;
    background: transparent;
    border: none;
    margin-top: 5px;
  }

  .header__burger {
    background: transparent;
  }
}

.burger__checkbox {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;
  height: 20px;
  cursor: pointer;
  gap: 9px;
}

.burger span {
  height: 1px;
  background: #000;
  border-radius: 2px;
  transition: 0.4s ease;
}

.burger__checkbox:checked ~ .header__content .burger span:nth-of-type(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger__checkbox:checked ~ .header__content .burger span:nth-of-type(2) {
  opacity: 0;
}
.burger__checkbox:checked ~ .header__content .burger span:nth-of-type(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;

  background-color: rgba(231, 229, 232, 1);

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

  font-size: 24px;
  color: #080808;
  text-transform: uppercase;
}

.burger__checkbox:checked ~ .mobile-menu {
  display: flex;
}

/*-----------MOBILE-----------*/
@media (max-width: 756px) {
  .header__content {
    padding: 61px 20px 16px 20px;
  }
  .header__burger--btn {
    margin-top: 3px;
  }
}

/*-----------DESKTOP-----------*/

@media (min-width: 1201px) {
  .mobile-menu {
    display: none !important;
  }
}




body.about-us-page header {
  background-color: hsla(280, 6%, 90%, 0.8);
  backdrop-filter: blur(4px);
  border: none;
  
}