.filters__panel {
  color: #ffffff;
  font-size: 10px;
  padding-left: 29px;
  padding-right: 20px;
  padding-top: 50px;
}

.filters__title {
  font-size: 12px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.filters__panel--color {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 40px;
}


.filters__panel--color {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filters__color-option {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filters__color-input {
  display: none;
}

.filters__color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: inline-block;
  margin-right: 16px;
  transition: border-color 0.2s ease, transform 0.2s ease;
}

.filters__color--white {
  background-color: #fff;
}
.filters__color--gray {
  background-color: #999;
}
.filters__color--black {
  background-color: #000;
  border: 0.5px solid #666;
}
.filters__color--red {
  background-color: #e00000;
}

.filters__color-input:checked + .filters__color-circle {
  border-color: #ffffff;
  transform: scale(1.2);
}


.filters__panel--material, 
.filters__panel--size {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  border: none;
  margin-bottom: 40px;
}

.filters__panel--size button,
.filters__panel--material button {
  background: none;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

.filters__panel--price {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  padding-bottom: 140px;
}

.filters__price-range {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #888;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s;
}

.filters__price-range::-webkit-slider-runnable-track {
  height: 2px;
  background: #aaa;
  border-radius: 4px;
}

.filters__price-range::-moz-range-track {
  height: 2px;
  background: #aaa;
  border-radius: 4px;
}

.filters__price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid #444;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: -7px; 
}

.filters__price-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid #444;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.filters__price-range:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.filters__price-values {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #fff;
}

.filters__price-min,
.filters__price-max {
  border: 0.5px solid #E7E5E84D;
  padding: 8px 16px;
  border-radius: 4px;
  min-width: 40px;
  text-align: center;
}

filters__title_last{
  margin-bottom: 24px;
}